body {
    font-family: 'Lato', sans-serif;
}
.header-main {
	display: block;
}
.header-main .header-main-inner {
	display: block;
}
.header-main .header-main-inner .header-top {
	display: block;
}
.container {
	display: block;
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.header-main .header-main-inner .header-top .header-top-inner {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	position: relative;
}
.header-main .header-main-inner .header-top .header-top-inner .block-3 {
	position: absolute;
	right: 0;
	display: flex;
}
.header-main .header-main-inner .header-top .header-top-inner .block-3 .item {
	display: block;
	padding: 0 13px;
	color: #333333;
}
.header-main .header-main-inner .header-top .header-top-inner .block-3 .item span {
	display: inline-block;
	padding-left: 10px;
}
.header-main .header-main-inner .header-top .header-top-inner .logo {
	display: block;
	align-self: center;
}
.header-main .header-main-inner .header-top .header-top-inner .block-2 {
	display: flex;
}
.header-main .header-main-inner .header-top .header-top-inner .block-2 .search {
	display: block;
	position: relative;
	margin-right: 15px;
	margin-top: 38px;
	margin-bottom: 25px;
}
.header-main .header-main-inner .header-top .header-top-inner .block-2 .search input {
	display: block;
	width: 570px;
	height: 45px;
	background-color: #F8F8F8;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	color: #D2D3D2;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	padding-left: 30px;
	box-sizing: border-box;
}
.header-main .header-main-inner .header-top .header-top-inner .block-2 .search .icon {
	display: block;
	position: absolute;
	top: 13px;
	right: 30px;
	color: #DABA5D;
}
.header-main .header-main-inner .header-top .header-top-inner .profile {
	display: block;
	padding: 44px 0 24px 0px;
}
.header-main .header-main-inner .header-top .header-top-inner .profile ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}
.header-main .header-main-inner .header-top .header-top-inner .profile ul li:last-child {
	padding-right: 0;
}
.header-main .header-main-inner .header-top .header-top-inner .profile ul li {
	display: block;
	padding: 0 15px;
}
.header-main .header-main-inner .header-top .header-top-inner .profile ul a {
	display: inline-block;
	text-decoration: none;
	color: #333333;
	text-align: center;
}
.header-main .header-main-inner .header-top .header-top-inner .profile ul a span {
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	text-align: center;
}
.header-main .header-main-inner .header-bottom {
	display: block;
	border-top: 1px solid #EDEBEB;
	border-bottom: 1px solid #EDEBEB;
}
.header-main .header-main-inner .header-bottom .header-bottom-inner {
	display: block;
	padding: 19px 0;
}
.header-main .header-main-inner .header-bottom .header-bottom-inner .menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-main .header-main-inner .header-bottom .header-bottom-inner .menu li:first-child{
	padding-left: 0;
}
.header-main .header-main-inner .header-bottom .header-bottom-inner .menu li {
	display: block;
	padding: 0 15px;
}
.header-main .header-main-inner .header-bottom .header-bottom-inner .menu a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	color: #333333;
}
.facere-main {
	display: block;
}
.facere-main .facere-main-inner {
	display: block;
}
.facere-main .facere-main-inner .direction {
	display: block;
	padding: 10px 0;
}
.facere-main .facere-main-inner .product {
	display: flex;
}
.facere-m369ain .facere-main-inner .product .block-left {
	display: block;
	width: 50%;
}
.facere-main .facere-main-inner .product .block-left .block-left-inner {
	display: block;
}
.facere-main .facere-main-inner .product .block-left .block-left-inner .main-image {
	display: block;
	padding-right: 15px;
	box-sizing: border-box;
}
.facere-main .facere-main-inner .product .block-left .block-left-inner .other-img {
	display: flex;
	flex-wrap: wrap;
}
.facere-main .facere-main-inner .product .block-left .block-left-inner .other-img img {
	display: block;
	width: 20%;
	padding: 2.5px;
}
.facere-main .facere-main-inner .product .block-right {
	display: block;
	width: 50%;
}
.facere-main .facere-main-inner .product .block-right .heading {
	display: block;
}
.facere-main .facere-main-inner .product .block-right .heading strong {
	font-size: 28px;
	font-weight: 500;
	color: #333333;
}
.facere-main .facere-main-inner .product .block-right .heading p {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	color: #666666;
	padding: 10px 0;
}
.facere-main .facere-main-inner .product .block-right .heading span {
	font-size: 28px;
	font-weight: 500;
	color: #DABA5D;
}
.facere-main .facere-main-inner .product .block-right .heading .stock {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.facere-main .facere-main-inner .product .block-right .heading .stock .left {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
	align-self: center;
}
.facere-main .facere-main-inner .product .block-right .heading .stock .left img {
	height: 16px;
	width: 16px;
	padding-right: 5px;
}
.facere-main .facere-main-inner .product .block-right .heading .stock .right span {
	font-size: 16px;
	font-weight: 500;
	color: #333333;
}
.facere-main .facere-main-inner .product .block-right .heading .stock .right {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}
.facere-main .facere-main-inner .product .block-right .overview {
	display: block;
	padding: 10px 0;
	border-top: 1px solid #EDEBEB;
	border-bottom: 1px solid #EDEBEB;
}
.facere-main .facere-main-inner .product .block-right .overview strong {
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
	color: #DABA5D;
}
.facere-main .facere-main-inner .product .block-right .overview p {
	margin: 0;
	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #666666;
	padding: 10px 0;
}
.facere-main .facere-main-inner .product .block-right .overview li {
	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #666666;
}
.facere-main .facere-main-inner .product .block-right .overview ul {
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 46px;
}
.facere-main .facere-main-inner .product .block-right .qty {
	display: block;
	padding: 15px 0;
}
.facere-main .facere-main-inner .product .block-right .qty p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	text-align: left;
	color: #333333;
}
.facere-main .facere-main-inner .product .block-right .qty .top {
	display: flex;
	padding-top: 5px;
}
.facere-main .facere-main-inner .product .block-right .qty .top span {
	display: inline-block;
	border: 1px solid #EDEBEB;
	padding: 10px 23px;
	font-size: 24px;
	font-weight: 400;
	color: #666666;
}
.facere-main .facere-main-inner .product .block-right .qty .top ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.facere-main .facere-main-inner .product .block-right .qty .top ul li:first-child{
	margin-bottom: 2px;
}
.facere-main .facere-main-inner .product .block-right .qty .top ul li {
	border: 1px solid #EDEBEB;
	color: #666666;
	height: 22px;
	width: 28px;
	display: block;
	text-align: center;
	font-size: 20.67px;
	border-radius: 2px;
	margin-left: 4px;
}
.facere-main .facere-main-inner .product .block-right .qty .top a {
	display: block;
	padding: 13px 30px;
	text-decoration: none;
	border: 1px solid #DABA5D;
	background-color: #DABA5D;
	color: #fff;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	border-radius: 3px;
	margin-left: 10px;
}
.facere-main .facere-main-inner .product .block-right .bottom {
	display: flex;
	color: #666666;
	padding: 16px 0;
	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
}
.facere-main .facere-main-inner .product .block-right .bottom .fa-solid.fa-heart {
	align-self: center;
	font-size: 20px;
	padding-right: 5px;
	display: block;
}
.facere-main .facere-main-inner .product .block-right .bottom .fa-solid.fa-chart-simple {
	display: block;
	align-self: center;
	font-size: 15px;
	padding: 0 5px 0 13px;
}
.facere-main .facere-main-inner .product .block-right .offer {
	display: block;
	padding: 27px 30px;
	background-color: #F8F8F8;
}
.facere-main .facere-main-inner .product .block-right .offer .title {
	display: block;
	color: #666666;
	font-size: 14px;
	font-weight: 600;
}
.facere-main .facere-main-inner .product .block-right .offer .title .fa-solid.fa-star {
	font-size: 15px;
	padding-right: 5px;
}
.facere-main .facere-main-inner .product .block-right .offer p {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding-top: 10px;
	color: #666666;
}
.facere-main .facere-main-inner .product .block-right .offer p span {
	color: #DABA5D;
}
.detaile-main {
	display: block;
	padding: 30px 0;
}
.detaile-main .detaile-main-inner {
	display: block;
	border: 1px solid #F8F8F8;
	background-color: #F8F8F8;
	position: relative;
}
.detaile-main .detaile-main-inner .title {
	display: flex;
}
.detaile-main .detaile-main-inner .title .one button {
	display: block;
	padding: 11px 39px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background-color: #DABA5D;
	border-right: 0px;
	border: 2px solid #EDEBEB;
}
.detaile-main .detaile-main-inner .title .two button {
	display: block;
	padding: 11px 39px;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	border: 2px solid #EDEBEB;
	border-left: 0px;
	background-color: #F8F8F8;
}
.detaile-main .detaile-main-inner #content {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	padding: 29px 67px 35px 70px;
	color: #666666;
}
.detaile-main .detaile-main-inner #content p {
	display: block;
	margin: 0;
}
.detaile-main .detaile-main-inner #content ul {
	display: block;
	margin: 0;
	padding: 15px 0 15px 20px;
}
.collection-main-1 {
	display: block;
	padding: 35px 0;
}
.collection-main-1 .collection-main-1-inner {
	display: block;
}
.collection-main-1 .collection-main-1-inner .product {
	display: flex;
}
.collection-main-1 .collection-main-1-inner .product .item {
	display: block;
	padding: 0 12.5px;
	box-sizing: border-box;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner {
	display: block;
	position: relative;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner .image {
	display: block;
	position: relative;
}
.collection-main-1 .collection-main-1-inner  .product .item .item-inner .image .icon {
	display: block;
	position: absolute;
	top: 15px;
	right: 19px;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner img {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner .text {
	display: block;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner .text span {
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	margin: 15px 0 10px 0;
	display: block;
}
.collection-main-1 .collection-main-1-inner .product .item .item-inner .text strong {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	display: block;
	color: #DABA5D;
}
.collection-main-1 .collection-main-1-inner .heading {
	display: block;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
}
.footer-main {
	display: block;
	padding: 35px 0;
}
.footer-main .footer-top {
	display: block;
	background-color: #DABA5D;
}
.footer-main .footer-top .footer-top-inner {
	display: flex;
	padding: 28px 0;
	justify-content: space-between;
}
.footer-main .footer-top .footer-top-inner .block-1 {
	display: block;
	align-self: center;
}
.footer-main .footer-top .footer-top-inner .block-1 .block-1-inner {
	display: block;
	position: relative;
}
.footer-main .footer-top .footer-top-inner .block-1 .block-1-inner .icon {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 22px;
}
.footer-main .footer-top .footer-top-inner .block-1 .block-1-inner span {
	display: block;
	padding-left: 38px;
	font-family: Lato;
	font-size: 22px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.footer-main .footer-top .footer-top-inner .block-2 {
	display: block;
	align-self: center;
}
.footer-main .footer-top .footer-top-inner .block-2 form {
	display: flex;
}
.footer-main .footer-top .footer-top-inner .block-2 input {
	display: block;
	width: 300px;
	height: 44px;
	background-color: #DABA5D;
	border: 1px solid #fff;
	color: #fff;
	padding-left: 15px;
}
.footer-main .footer-top .footer-top-inner .block-2 button {
	display: block;
	height: 47px;
	width: 150px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #DABA5D;
	background-color: #fff;
	border: 1px solid #fff;
	margin-left: 15px;
}
.footer-main .footer-top .footer-top-inner .block-3 {
	display: block;
	align-self: center;
}
.footer-main .footer-top .footer-top-inner .block-3 ul {
	display: flex;
	list-style: none;
}
.footer-main .footer-top .footer-top-inner .block-3 ul li {
	display: block;
	padding: 0 10px;
}
.footer-main .footer-top .footer-top-inner .block-3 ul li a {
	display: block;
	color: #fff;
	font-size: 19px;
}
.footer-main .footer-middel {
	display: block;
	padding: 50px 0;
}
.footer-main .footer-middel .footer-middel-inner {
	display: flex;
}
.footer-main .footer-middel .footer-middel-inner .title {
	display: block;
	margin-bottom: 22.5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	color: #333333;
}
.footer-main .footer-middel .footer-middel-inner .item {
	display: block;
	width: 20%;
	padding: 0 15px;
}
.footer-main .footer-middel .footer-middel-inner .item .info {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-main .footer-middel .footer-middel-inner .item .info li {
	display: block;
	padding: 7.5px 0;
}
.footer-main .footer-middel .footer-middel-inner .item .info a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: #444444;
}
.footer-main .footer-middel .footer-middel-inner .item .info .content {
	display: block;
	padding: 7.5px 0;
}
.footer-main .footer-middel .footer-middel-inner .item .info .content span {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #444444;
}
.footer-main .footer-bottom {
	display: block;
}
.footer-main .footer-bottom .footer-bootom-inner {
	display: flex;
	padding-top: 38px;
	border-top: 1px solid #B8B8B8;
	justify-content: space-between;
}
.footer-main .footer-bottom .footer-bootom-inner .block-left {
	display: block;
}
.footer-main .footer-bottom .footer-bootom-inner .block-left span {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: #333333;
}
.footer-main .footer-bottom .footer-bootom-inner .block-right {
	display: block;
}
.footer-main .footer-bottom .footer-bootom-inner .block-right ul {
	display: flex;
}
ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-main .footer-bottom .footer-bootom-inner .block-right ul li:last-child {
	padding-right: 0;
}
.footer-main .footer-bottom .footer-bootom-inner .block-right ul li {
	display: block;
	padding: 0 5px;
}
.detaile-main .detaile-main-inner #content-1 {
	display: none;
	padding: 25px 0 16px 70px;
	top: 0;
}
.detaile-main .detaile-main-inner #content-1 .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
}
.detaile-main .detaile-main-inner #content-1 .title span {
	font-size: 18px;
	font-weight: 400;
	display: block;
	color: #666666;
}
.detaile-main .detaile-main-inner #content-1 label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.detaile-main .detaile-main-inner #content-1 label span {
	color: #FF2121;
}
.detaile-main .detaile-main-inner #content-1 .block-1 {
	display: block;
	margin: 15px 0;
}
.detaile-main .detaile-main-inner #content-1 .block-2 {
	display: block;
	margin: 15px 0;
}
.detaile-main .detaile-main-inner #content-1 .block-3 {
	display: block;
	margin: 15px 0;
}
.detaile-main .detaile-main-inner #content-1 .block-1 input {
	display: block;
	width: 500px;
	height: 38px;
	border: 2px solid #EDEBEB;
	background-color: transparent;
}
.detaile-main .detaile-main-inner #content-1 .block-2 input {
	display: block;
	width: 500px;
	height: 38px;
	border: 2px solid #EDEBEB;
	background-color: transparent;
}
.detaile-main .detaile-main-inner #content-1 .block-3 input {
	display: block;
	width: 500px;
	height: 99px;
	border: 2px solid #EDEBEB;
	background-color: transparent;
}
.detaile-main .detaile-main-inner #content-1 input {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 10px 17px;
	background-color: #DABA5D;
	border: 1px solid #DABA5D;
	border-radius: 3px;
}